/* GENERAL style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    background-color: #051630;
    height: 100vh;
}

li {
    cursor: pointer;
}

li:hover {
    background-color: rgb(229, 229, 229);
}

.input-container {
    margin-top: 20px;
}

.input-container input {
    height: 39.65px;
    min-width: 240px;
    padding: 12px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.input-container button {
    height: 40px;
    border-radius: 0 5px 5px 0;
}

.fa-trash-can:hover {
    color: red;
}